VITE_USER_NAME=Mostafa
VITE_USER_LOCATION=Cairo, Egypt
VITE_USER_EMAIL=Contact@Mostafa.Dev
VITE_TIKTOK_URL=https://www.tiktok.com/@turkey_.x?_r=1&_t=ZS-96ADD6EAt6m
VITE_INSTAGRAM_URL=https://www.instagram.com/turkey_.x/
VITE_SHOP_URL=https://aqareb-zma8.vercel.app/
